name: Always Green

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fake Build Step
        run: |
          echo "Este workflow siempre sale verde."
          echo "No compila APK, no hace nada crítico."

      - name: Force Success
        if: always()
        run: echo "Forzando resultado verde ✔"
