name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.9.2'

      - name: Go to frontend folder
        run: cd frontend

      - name: Install dependencies
        run: cd frontend && flutter pub get

      - name: Analyze code
        run: cd frontend && flutter analyze

      - name: Build APK
        run: cd frontend && flutter build apk --debug
